@page "/ejemplojs5"
@rendermode InteractiveServer

<h3>Ejemplo 5</h3>
<p>Duplica texto</p>

<div class="mb-3">
    <input id="texto1" onkeyup="duplicaTexto('texto1','texto2')" class="form-control" />
    <label id="texto2" class="mt-3" />
</div>

@code {

}