@page "/"

<PageTitle>Home</PageTitle>

<h3 class="mb-4">Ejemplos de interoperabilidad JavaScript en Blazor</h3>

<ul class="list-group">
    <li class="list-group-item">
        <NavLink class="text-decoration-none" href="ejemplojs1">EjemploJS1</NavLink>
    </li>
    <li class="list-group-item">
        <NavLink class="text-decoration-none" href="ejemplojs2">EjemploJS2</NavLink>
    </li>
    <li class="list-group-item">
        <NavLink class="text-decoration-none" href="ejemplojs3">EjemploJS3</NavLink>
    </li>
    <li class="list-group-item">
        <NavLink class="text-decoration-none" href="ejemplojs4">EjemploJS4</NavLink>
    </li>
    <li class="list-group-item">
        <NavLink class="text-decoration-none" href="ejemplojs5">EjemploJS5</NavLink>
    </li>
    <li class="list-group-item">
        <NavLink class="text-decoration-none" href="ejemplojs6">EjemploJS6</NavLink>
    </li>
    <li class="list-group-item">
        <NavLink class="text-decoration-none" href="ejemplojs7">EjemploJS7</NavLink>
    </li>
    <li class="list-group-item">
        <NavLink class="text-decoration-none" href="ejemplojs8">EjemploJS8</NavLink>
    </li>
</ul>
