<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorAppJS</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejemplojs1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> EjemploJS1
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejemplojs2">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> EjemploJS2
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejemplojs3">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> EjemploJS3
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejemplojs4">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> EjemploJS4
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejemplojs6">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> EjemploJS6
            </NavLink>
        </div>        

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejemplojs7">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> EjemploJS7
            </NavLink>
        </div>        

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejemplojs8">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> EjemploJS8
            </NavLink>
        </div>        

    </nav>
</div>